html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 30px;
    background-color: #fff;
    color: #212121;
    font-family: 'Lato', sans-serif;
    margin-right: auto;
    margin-left: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
p {
    margin: 0;
}

ul {
    list-style: none;
    /* padding: 0; */
    margin: 0;
}
li {
    margin: 10px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.link {
    color: #ccc;
    text-decoration: dashed;
}
.active-link {
    color: rgba(0, 170, 255, 0.586);
}

h2 {
    margin: 0;
}
